Repository edsq/eds-notes: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext, black

jupytext:
  name: jupytext
  entry: pdm run jupytext --sync
  language: system

black:
  name: black
  entry: pdm run black
  language: system

Update README
  README.md
Due: none

Add screenshot of finished TestPyPI page
  docs/images/testpypi_project_screenshot.png
  md_notebooks/pwg_presentation_02-08-2023.md
Due: jupytext

Install bash kernel in sys.prefix, not globally
  Makefile
Due: none

Update dependencies
  pdm.lock
Due: none

Use custom bash_kernel with ability to display markdown
  pdm.lock
  pyproject.toml
Due: none

Add utility function for printing a simple git diff
  src/eds_notes/__init__.py
  src/eds_notes/utils.py
Due: black

Add simple_diff cli
  pdm.lock
  pyproject.toml
  src/eds_notes/cli.py
Due: black

Print leading and trailing ellipsis if needed
  src/eds_notes/utils.py
Due: black

Fix dynamic version issue in test-publish script
  md_notebooks/pwg_presentation_02-08-2023.md
Due: jupytext

Don't put empty line after filename comment
  src/eds_notes/utils.py
Due: black

Fix bug combining hunks in simple-diff
  src/eds_notes/utils.py
Due: black

Use simple-diff to show code
  md_notebooks/pwg_presentation_02-08-2023.md
Due: jupytext

Add conclusion to part 1
  md_notebooks/pwg_presentation_02-08-2023_part1.md
Due: jupytext

Force diff color and add explanatory note to each diff
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Add note on PEP 582 to part 1
  md_notebooks/pwg_presentation_02-08-2023_part1.md
Due: jupytext

Add further reading and discussion to Part 2 conclusion
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Add some explanation for clarity
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Split pwg presentation into two notebooks
  docs/_toc.yml
  docs/pwg_presentation_02-08-2023.ipynb
  docs/python_notes/pwg_presentation/images/testpypi_project_screenshot.png
  docs/python_notes/pwg_presentation/pwg_presentation_02-08-2023.md
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Use 'pdm show --version eeskew-pwg-test-000' to get version
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Update logo
  docs/logo.png
  scripts/gen_logo
Due: none

Add links to companion repo
  docs/_config.yml
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Use alternate logo in dark mode
  docs/_config.yml
  docs/logo.png
  docs/logo_dark.png
  docs/logo_light.png
  scripts/gen_logo
Due: none

Fix docstrings
  src/eds_notes/cli.py
  src/eds_notes/utils.py
Due: black

Add note on installing from TestPyPI
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Add note that tutorial is for unix-like OS
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Fix missing github repo button
  docs/_config.yml
Due: none

Update documentation
  .buildinfo
  genindex.html
  intro.html
  python_notes/pwg_presentation/pwg_presentation_02-08-2023.html
  python_notes/pwg_presentation/pwg_presentation_02-08-2023_part1.html
  python_notes/pwg_presentation/pwg_presentation_02-08-2023_part2.html
  search.html
  searchindex.js
Due: none

Use ls with colors
  md_notebooks/pwg_presentation_02-08-2023_part1.md
Due: jupytext

Update documentation
  _sources/python_notes/pwg_presentation/pwg_presentation_02-08-2023_part1.ipynb
  _sources/python_notes/pwg_presentation/pwg_presentation_02-08-2023_part2.ipynb
  python_notes/pwg_presentation/pwg_presentation_02-08-2023_part1.html
  python_notes/pwg_presentation/pwg_presentation_02-08-2023_part2.html
  searchindex.js
Due: none

Update project creation instructions
  md_notebooks/pwg_presentation_02-08-2023_part1.md
Due: jupytext

Update black sub-dependencies in companion repo
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Use tabs for initialization instructions
  md_notebooks/pwg_presentation_02-08-2023_part1.md
Due: jupytext

Add tip on activating environment
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Use margin notes for companion repo links
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Update documentation
  _sources/python_notes/pwg_presentation/pwg_presentation_02-08-2023_part1.ipynb
  _sources/python_notes/pwg_presentation/pwg_presentation_02-08-2023_part2.ipynb
  python_notes/pwg_presentation/pwg_presentation_02-08-2023_part1.html
  python_notes/pwg_presentation/pwg_presentation_02-08-2023_part2.html
  reports/python_notes/pwg_presentation/pwg_presentation_02-08-2023_part1.err.log
  reports/python_notes/pwg_presentation/pwg_presentation_02-08-2023_part2.err.log
  searchindex.js
Due: none

Use inline links for files in companion repo
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Path conditions:
  jupytext: any of: md_notebooks/.*\.md
  black: any of: \.py$
