Repository edsq/eds-notes: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext, black

jupytext:
  name: jupytext
  entry: pdm run jupytext --sync
  language: system

black:
  name: black
  entry: pdm run black
  language: system

Rename pwg presentation pages
  .gitignore
  docs/_toc.yml
  docs/python_notes/pwg_presentation/intro.md
  docs/python_notes/pwg_presentation/part1.ipynb
  docs/python_notes/pwg_presentation/part2.ipynb
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Update documentation
  _sources/python_notes/pwg_presentation/intro.md
  _sources/python_notes/pwg_presentation/part1.ipynb
  _sources/python_notes/pwg_presentation/part2.ipynb
  genindex.html
  objects.inv
  python_notes/pwg_presentation/intro.html
  python_notes/pwg_presentation/part1.html
  python_notes/pwg_presentation/part2.html
  search.html
  searchindex.js
Due: none

Add PDM test install instructions
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Update documentation
  _sources/python_notes/pwg_presentation/part2.ipynb
  python_notes/pwg_presentation/part1.html
  python_notes/pwg_presentation/part2.html
  searchindex.js
Due: none

Fix redundant instructions on entry point
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Update documentation
  _sources/python_notes/pwg_presentation/part2.ipynb
  python_notes/pwg_presentation/part2.html
  searchindex.js
Due: none

Do work in a temporary clone of companion repo
  .gitignore
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Re-organize cells a bit
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Use function for showing code files
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Use alias for checkpoints
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Put bash notebook config in .bashnbrc
  .bashnbrc
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Update documentation
  _sources/python_notes/pwg_presentation/part1.ipynb
  _sources/python_notes/pwg_presentation/part2.ipynb
  python_notes/pwg_presentation/part1.html
  python_notes/pwg_presentation/part2.html
  searchindex.js
Due: none

Ensure sourcing bashnbrc works from any cwd
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Miscellaneous small fixes in presentation
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Worsen bad formatting to fix with black
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Work in a properly named temp repo and ensure git config is correct
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Update documentation
  _sources/python_notes/pwg_presentation/part1.ipynb
  _sources/python_notes/pwg_presentation/part2.ipynb
  python_notes/pwg_presentation/part1.html
  python_notes/pwg_presentation/part2.html
  reports/python_notes/pwg_presentation/part1.err.log
  reports/python_notes/pwg_presentation/part2.err.log
  searchindex.js
Due: none

Ensure simple-diff combines hunks that intersect in one line
  src/eds_notes/utils.py
Due: black

Misc changes for clarity
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Ensure cli.py in example code follows black
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Update documentation
  _sources/python_notes/pwg_presentation/part1.ipynb
  _sources/python_notes/pwg_presentation/part2.ipynb
  python_notes/pwg_presentation/part1.html
  python_notes/pwg_presentation/part2.html
  reports/python_notes/pwg_presentation/part2.err.log
  searchindex.js
Due: none

Update section on versioning
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Add note on future pdm-bump update
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Add links between parts
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Remove diffs from docs
  .gitmodules
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
  scripts/diff-so-fancy
Due: jupytext

Fix incorrect temp directory
  md_notebooks/pwg_presentation_02-08-2023_part1.md
Due: jupytext

Make embed-repo-link work with any github repo
  .bashnbrc
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Rename utils.py in pwg presentation
  md_notebooks/pwg_presentation_02-08-2023_part1.md
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Allow more general comment format in simple-diff
  src/eds_notes/cli.py
  src/eds_notes/utils.py
Due: black

Update black subdeps in pwg presentation
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Fix filename comment in readme
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Update documentation
  _sources/python_notes/pwg_presentation/part1.ipynb
  _sources/python_notes/pwg_presentation/part2.ipynb
  python_notes/pwg_presentation/part1.html
  python_notes/pwg_presentation/part2.html
  reports/python_notes/pwg_presentation/part1.err.log
  searchindex.js
Due: none

Fix TestPyPI incorrectly called PyPI
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Set recursive_update in sphinx config
  docs/_config.yml
Due: none

Fix reference to old project name
  md_notebooks/pwg_presentation_02-08-2023_part1.md
Due: jupytext

Update documentation
  .buildinfo
  _sources/python_notes/pwg_presentation/part1.ipynb
  genindex.html
  intro.html
  python_notes/pwg_presentation/intro.html
  python_notes/pwg_presentation/part1.html
  python_notes/pwg_presentation/part2.html
  search.html
  searchindex.js
Due: none

Update test-publish script to work with any package name
  md_notebooks/pwg_presentation_02-08-2023_part2.md
Due: jupytext

Path conditions:
  jupytext: any of: md_notebooks/.*\.md
  black: any of: \.py$
